<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>NMEPSCoR Data Documentation Tool: <small>Describe your workflow</small></h2>
      </div>
      <div>
        <p>
          Please describe your workflow for creating these data. Whenever possible,
          try to break down your workflow into meaningful steps. 
        </p>
        <p>
          For basic document collections, this step can be skipped. 
        </p>
        <p>
          An example workflow could be:
          <ol>

            <li>Collected water samples from sites in Place X. We used Procedure A.
            </li>

            <li>Tested each sample for Chemicals E and F using Lab Equipment B, model 123, within some tolerance.
            </li>

            <li>Performed QAQC on the results.
            </li>
          </ol>
        </p>


        <p>
        Provide enough detail so that someone else reading your documentation can understand what you did. Again, this is very similar to the information you’d include on a poster or when discussing a poster. 
        </p>

        <p>
        If someone other than yourself performed a particular step, please include their name and institution.
        </p>

        <br/>
      </div>
    </div>
    
    <div class="row" ng-controller="workflowForm">
      
      <!--
      <div class="collapse in">
        <pre> form = {{formData | json}}
        </pre>
      </div>
      -->
   
      <div class="panel panel-default" ng-show="addingWorkflow" >
        <div class="panel-heading">
          Add Step
        </div>

        <div class="panel-body">
          <form class="form-horizontal" role="form" name="form_workflow">
            
            <div class="form-group">
              <label for="workflowDescription" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10"
                ng-class="{ 'has-error' : form_workflow.workflowDescription.$invalid && !form_workflow.workflowDescription.$pristine }"
              >
                <textarea class="form-control" rows="10" id="workflowDescription" name="workflowDescription"
                  ng-model="newWorkflow.description" 
                  ng-minlength=20 
                  placeholder="Collected water samples from sites in Place X. We used Procedure A."
                  required
                >
                </textarea>
              </div>
            </div>

            <div class="form-group">                
              <label for="workflowDate" class="col-sm-2 control-label">Date Performed</label>
              <div class="col-sm-4 well">
                <a style="margin-right: 0px; margin-bottom: .5em;" class="btn btn-primary glyphicon glyphicon-calendar"
                   data-toggle="datepicker" /> 
                </a>
                <input id="workflowDate" 
                  style="width: 12em; margin-left: 0px;" 
                  type="text" ng-model="newWorkflow.date_performed"
                  data-date-format="mm/dd/yyyy" bs-datepicker class="form-control" 
                  required
                />
              </div>
            </div>

            <div class="row-fluid">
              <div class="col-sm-12 form-group">
                <div class="col-sm-2">
                  <div class="radio">
                    <label class="control-label">
                      <input type="radio" 
                        ng-change="checkedSelf(true)"
                        ng-value="true" 
                        ng-model="newWorkflow.performed_by.self" 
                      /> 
                      I performed this step
                      <br/>
                    </label>

                    <label class="control-label">
                      <input type="radio" 
                        ng-value="false" 
                        ng-model="newWorkflow.performed_by.self" 
                        ng-selected="newWorkflow.performed_by.self"
                      /> 
                      Someone else performed this step
                      <br/>
                    </label>
                  </div>
                </div>
              
                <div class="col-sm-offset-2 col-sm-8 form-group" ng-hide="newWorkflow.performed_by.self">

                  <div class="row" >
                    <label for="wfName" class="control-label col-sm-2">Name</label>
                    <div class="col-sm-10"
                      ng-class="{ 'has-error' : form_workflow.wfName.$invalid && !form_workflow.wfName.$pristine }"
                    >
                      <input class="form-control" type="text" id="wfName" name="wfName"
                      maxlength="50" size="50"
                      ng-minlength="3"
                      ng-model="newWorkflow.performed_by.other.name"
                      ng-required="! newWorkflow.performed_by.self"
                      />
                    </div>
                  </div>
                  
                  <div class="row" >  
                    <label for="wfInstitution" class="control-label col-sm-2">Institution</label>
                    <div class="col-sm-10"
                      ng-class="{ 'has-error' : form_workflow.wfInstitution.$invalid && !form_workflow.wfInstitution.$pristine }"
                    >
                      <input class="form-control" type="text" id="wfInstitution" name="wfInstitution"
                      maxlength="50" size="50" 
                      ng-minlength="3"
                      ng-model="newWorkflow.performed_by.other.institution"
                      ng-required="! newWorkflow.performed_by.self"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="addWorkflow()"
              ng-disabled="form_workflow.$invalid"
            >
              <!--
              Add This Step
              -->
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="cancelAddWorkflow()">
              <!--
              Cancel
              -->
             <span class="glyphicon glyphicon-remove"></span>
            </button>
          </form>
        </div>
      </div> <!-- close add panel -->

      <!-- 'primary' list panel' -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          Add Steps
        </div>
        <div class="panel-body">
          <div class="col-sm-10">
            <table class="table table-striped table-bordered table-hover filesTable">              
              <thead>
                <tr ng-click="addWorkflowDialog()">
                  <th class="col-sm-2">Date</th>
                  <th class="col-sm-8">Description</th>
                </tr>
              </thead>

              <tbody>
                <!-- if you use orderby, careful of impact on delete methods... -->
                <tr ng-repeat="wf in formData.WORKFLOW.steps">
                  <td>
                    <button type="button" class="btn btn-xs" ng-click="delWorkflow($index)">
                      <span class="glyphicon glyphicon-remove-sign"></span> 
                    </button>

                    <a ng-click="editWorkflow(wf.description, wf.date_performed, wf.performed_by.self, wf.performed_by.other.name, wf.performed_by.other.institution)">
                      {{wf.date_performed | date:'MM/dd/yyyy'}}
                    </a>
                  </td>
                  <td>
                    {{wf.description|truncate:120}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <button type="button" class="btn btn-default btn-lg pull-right" ng-click="addWorkflowDialog()">
            Add Step
            <span class="glyphicon glyphicon-plus-sign"></span> 
          </button>
        </div>
      </div>  <!-- close panel -->

      <div class="row">
        <div class="col-sm-8">
        <!-- We follow with time info, attributes, or embargo -->
          <reset-button></reset-button>
          <quit-button></quit-button>
          <!-- 
          the form is invalid when we get here, because it's added a new empty item 
          to the form
          -->
          
          <span ng-switch on=formData.DESCRIBE.choice>
            <!-- just field collection goes to desc sites, all else to workflow -->
            <button ng-switch-when="basic" class="btn btn-primary" 
              ng-click="nextStep(formData, '/license')"
              ng-disabled="addingWorkflow"
            >Next Step</button>

            <button ng-switch-when="table" class="btn btn-primary" 
              ng-click="nextStep(formData, '/descAttributes')"
              ng-disabled="addingWorkflow"
            >Next Step</button>

            <button ng-switch-when="matrix" class="btn btn-primary" 
              ng-click="nextStep(formData, '/timeInfo')"
              ng-disabled="addingWorkflow"
            >Next Step</button>

            <button ng-switch-when="rastermodel" class="btn btn-primary" 
              ng-click="nextStep(formData, '/timeInfo')"
              ng-disabled="addingWorkflow"
            >Next Step</button>

            <!-- invalid should not happen -->
            <button ng-switch-default class="btn btn-primary" 
              ng-click="nextStep(formData, '/404')"
              ng-disabled="addingWorkflow"
            >Next Step</button>
          </span>
        </div>
      </div>

    </div>
  </div> 
</div>

