<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>NMEPSCoR Data Documentation Tool: <small>Finalize and Submit?</small></h2>
            </div>
            <div>
                <p>Okay, the real last step</p>
                <p>Now that you're done with this collection, just hit the button to finalize it
                   and submit the dataset to the CyberInfrastructure teams
                </p>
            </div>
            <br><br>
        </div>
    </div>

    <!--
    <div class="row" ng-controller="publishForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                Built up JSON
            </div>
            <pre>{{formData | json}}</pre>
        </div>
    </div>
    -->

    <button class="btn btn-danger" href="#/quit" ng-click="save(formData)">Quit</button>
    <button class="btn btn-primary" ng-click="finalize(formData.META.id)">Publish This Collection</button>
    
</div>

