<div class="container" fade-in>
    <h3>About this tool</h3>
    <hr>

    <div class="row">
      <div class="col-md-12">
            <p style="margin-top:1em;">
                Todo: Fill in stuff
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <hr>

    <div class="row" style="padding-top:1em;">
        <div class="col-md-6">
            <p>
                <b>Integrated Technologies:</b>
            </p>
            <p>

            <ul>

                <li>angularjs - Superheroic JavaScript MVW Framework.</li>
                <li>angular-ui - The companion suite for AngularJS.</li>
                <li>angular-xeditable - Editable elements for angular </li>
                <li>Twitter Bootstrap - Sleek, intuitive, and powerful front-end framework for faster and easier web
                    development.
                </li>
                <li>angular-strap - Bootstrap directives for Angular.</li>
                <li>ng-grid - Angular Data Grid.</li>
                <li>jquery - The Write Less, Do More, JavaScript Library.</li>
                <li>jquery-ui - The Write Less, Do More, JavaScript Library.</li>
                <li>modernizr - A JavaScript library that detects HTML5 and CSS3 features in the user’s browser.
                </li>
                <li>underscorejs - Underscore is a utility-belt library for JavaScript that provides a lot of the
                    functional programming support that you would expect in Prototype.js (or Ruby), but without
                    extending any of the built-in JavaScript objects.
                </li>
                <li>prettifyjs - A Javascript module and CSS file that allows syntax highlighting of source code
                    snippets in an html page.
                </li>
                <li>Animate.css - Just-add-water CSS animation. via Ad Packs. animate.css is a bunch of cool, fun,
                    and
                    cross-browser animations for you to use in your projects.
                </li>
                <li>LESS - The dynamic stylesheet language. LESS extends CSS with dynamic behavior such as
                    variables,
                    mixins, operations and functions.
                </li>
            </ul>
            </p>

        </div>


        <div class="col-md-6">
            <img class="img-responsive" src="http://octodex.github.com/images/benevocats.jpg">
        </div>
    </div>
    <hr>
</div>




