<style>
    .about-img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>

<div class="container" fade-in>

    <h3>Contact Us</h3>
    <hr style="margin-bottom: 1em;">

    <div class="row">
        <div class="col-md-5">
            <h3 style="text-align: center;">Support</h3>
            <img class="about-img img-responsive" src="http://octodex.github.com/images/supportcat.jpg">

            <div class="well">
              <p>
              Sorry you had trouble.  Some day this will be an online submission form.  Right now, it will open 
              a link and <a href="mailto:epscordata@edac.unm.edu&subject=help%20dingos%20ate%20my%20baby">send us an email</a>.
              </p>
              <p>
              P.S.  It always helps developers a ton if you include a few things...
              <ul>
                <li>Who you are and how to contact you </li>
                <li>The time of day you had a problem</li>
                <li>Big pictures and screencaps (hit printscreen and paste it into something)</li>
                <li>Screencaps that show the URL in your address bar</li>
                <li>At least a sentence about what went wrong, containing something that tell us more than "doesn't work."</li>
                <li>Thanks for reading!</li>
              </ul>
              </p>
              
            </div>
        </div>

    </div>

</div>
