<div class="container" fade-in>
    <div style="padding-top: 2em;">
        <div class="jumbotron">
            <div class="page-header">
                <h2>NMEPSCoR Data Documentation Tool</h2>
            </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            Do you need to provide data and documentation?
          </div>
          <div class="panel-body">
            <p> You need to provide the data and complete this form:
                <ul>
                    <li>
                      If you use any data generated over the course of your 
                      <a target="_blank"
                        href="http://www.nmepscor.org/data_portal/data-management-document-training#data-management"
                      >NM EPSCoR</a>
                      project in a publication, you need to provide the data
                      and complete this form.  
                    </li>
                    <li>
                        If you installed instrumentation in the field for ongoing
                        data collection, such as a weather station or well monitoring
                        equipment, you need to provide that data.
                    </li>
                    <li>
                        If you performed model simulations that were or will be
                        used in a publication.
                    </li>
                    <li>
                        If you performed a survey, please make sure that you
                        are providing anonymized data for inclusion in the
                        public data portal. 
                    </li>
                </ul>
            </p>
            <p>  If you have data such as:
                <ul> 
                    <li>text files from a logger</li>
                    <li>text files from a piece of lab equipment</li>
                    <li>raster outputs from a model</li>
                    <li>spreadsheets from a survey</li>
                    <li>proprietary data files from a piece of equipment</li>
                    <li>a database from a geologic survey</li>
                </ul> 
                This list is not exhaustive.  If you are not sure if you need
                to deliver data to NM EPSCoR, please contact {EPSCoR} or {EDAC}
                for more information.  
            </p>
            <br/>

            <a class="btn btn-large btn-info" href="#/about">Learn more</a>
            <a class="btn btn-large btn-primary" ng-disabled="! authorized"
              href="#/step0">Begin Authoring</a>
          </div>
        </div>

        <div class="panel panel-info" ng-hide="authorized">
          <div class="panel-head">
            <h2> Hi There</h2>
          </div>
          <div class="panel-body">
            <p class="text-info" ng-hide="authorized"> 
              <h3>
                I've noticed you aren't logged in.  Once you log in,
                you'll be able to <b>Begin Authoring</b> your documentation collection.
              </h3>
            </p> 
          </div>
        </div>
    </div>
</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>
