<!-- navbar step list template -->
<li ng-show="formData.META.id">
  <a href="#/dumpData">Debug: Dump Data</a>
</li>
<li><a href="#/step0">Show my collections</a></li>
<li><a href="#/">Rest of this list is fake right now</a></li>

<li><a ng-show="formData.META.id" href="#/step2">Step 2: Files To Document</a></li>
<li><a ng-show="formData.META.id" href="#/step3">Step 3: Abstract/Purpose</a></li>
<li><a ng-show="formData.META.id" href="#/step4">Step 4: Tagging</a></li>
<li><a ng-show="formData.META.id" href="#/descSites">Step ?: Describe Sites</a></li>
<li><a ng-show="formData.META.id" href="#/descWorkflow">Step ?: Describe Workflow</a></li>
<li><a ng-show="formData.META.id" href="#/descAttributes">Step ?: Describe Attributes</a></li>
<li><a ng-show="formData.META.id" href="#/timeInfo">Step ?: Time Information</a></li>
<li><a ng-show="formData.META.id" href="#/license">Step ?: License Information</a></li>
<li><a ng-show="formData.META.id" href="#/embargo">Step ?: Embargo Requests</a></li>
<li><a ng-show="formData.META.id" href="#/preview/{{formData.META.id}}">Step ?: Preview Report</a></li>
<li><a ng-show="formData.META.id" href="#/publish/{{formData.META.id}}">Final Step: Submit Collection</a></li>

