<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>NMEPSCoR Metadata Tool: <small>Request Embargo</small></h2>
            </div>
            <div>
              <p> Congrats, you're finally at the last step. </p>
              <p> We'd like your data, but understand you may require that it be embargoed.  We can't do it forever, But we might be able to keep it offline as late as 4/31/2015<p>
              <p> The author has no clue if this is true<p>
            </div></li>
            <br><br>
        </div>
        
    </div>
    
    <div class="panel panel-primary" ng-controller="embargoForm">
      <!--
      <pre> form = {{formData.EMBARGO | json}}</pre>
      -->
      <form novalidate class="simple-form" >
        <div class="panel-heading">
          <h3 class="panel-title">Request Embargo</h3>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <input type="checkbox" 
              ng-model="formData.EMBARGO.hasReadDataPolicy"
              ng-change="resetRequest()"
            >
            I have read and understood the NM EPSCoR <a href="http://nmepscor.org/cyberinfrastructure/data-policy" target="_blank"> data policy,</a>
            and agree to release my data under the Creative Commons CC BY 4.0 or later licensing scheme. 
             <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
               <img alt="CC license picture" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
             </a>
            </input>
          </div>

          I am requesting that the dataset(s) documented here be embargoed for
            <select id="embargoDuration" 
              ng-model="formData.EMBARGO.duration" 
              ng-options="d for d in EMBARGO_DURATIONS"
              ng-disabled="! formData.EMBARGO.hasReadDataPolicy">
            </select>

         <br/> OR <br/>
         <p> I require a longer embargo because:<p>

         <div class="form-group">
           <input type="checkbox" ng-model="formData.EMBARGO.hasReadCircumstances"
             ng-disabled="! formData.EMBARGO.hasReadDataPolicy"
             ng-change="resetRequest()"
           >
              I understand that extensions are only provided in rare
              circumstances and have done my best to meet the data policies as
              laid out by NM EPSCoR.  
           </input>
         </div>

         <div class="form-group">
            <label for="embargoLonger" class="col-sm-2 control-label">Provide Detailed Explanation</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="6" id="embargoLonger" 
                ng-model="formData.EMBARGO.longer"
                ng-disabled="! formData.EMBARGO.hasReadDataPolicy || ! formData.EMBARGO.hasReadCircumstances"
                >
              </textarea>
            </div>
          </div>
          <p>
          Confirmation of this request will be sent to the email you provided,
          to NM EPSCoR, to EDAC, and to your listed PI. 
          </p>
        </div>

      </form>
    </div> 

    <div class="row">
      <div class="col-sm-10">
        <reset-button></reset-button>
        <quit-button></quit-button>
        <a class="btn btn-primary" 
          ng-disabled="! formData.EMBARGO.hasReadDataPolicy"
          ng-click="nextStep(formData, '/publish')"
          >Final Step</a>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"> Patent Section </h3>
      </div>
      <div class="panel-body">Stuff Coming Here</div>
    </div>
  </div>

