<div class="modal" id="spinner" ng-show="spinner" modal="spinner" fade-in>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="spinner" aria-hidden="true" ng-click="spinneroff()">×</button>
        <h4 class="modal-title">Please wait a moment while we talk to our server&hellip;</h4>
      </div>
      <div class="modal-body">
        <br/>
        <!-- bootstrap modal-body resizes width -->
        <div style="width:55px;margin-left:auto;margin-right:auto;">
          <img src="/static/builder/content/spinner.gif" width="54" height="55" alt="spinning dots"/> 
          <br/>
          <p>
            Loading&hellip;
          </p>
        </div>
      </div>
      <div class="modal-footer">&nbsp;</div>
    </div>
  </div>
</div>


