/** TODO this can be cleaned up, LESSified, and minimized **/

/* just commit to showing the scroll on the right.  otherwise looks funny when
   navbar is resized horizonally when vertical scroll appears */
html {
    overflow-y: scroll;
}

/* anchor tags should use pointer like buttons */
a {
    cursor: pointer;
}

/** nested row patch **/
.row .row {
    margin: 0;
}

/** this allows us to display nothing until angular has applied changes to the dom
    without this we see what the dom wants to display first, and then get an update
    within milliseconds once angular is finished. -- it's the "funny flicker effect"
 **/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

label.checkboxdialog {
    font-weight: normal;
}

/**
jumbotron mods
**/
.jumbotron {
    background-color:#e6e6e6;
    text-align:center;
    padding-top:24px;
    padding-bottom:24px;
    margin:0 0 15px 0;
}

/** temp fix for the margin/padding error
btwn content row and header row
**/
.mainbody {
    margin:20px 0;
    padding:20px;
}

/**
mods for side-nav panels
**/
#side-nav .panel {
}
#side-nav .panel-heading {
    padding:10px;
    font-size:1.5em;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    margin-top:0;
}
#side-nav .panel-body {
    margin-top:-10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#side-nav .well {
    padding:3px;
    margin-left:-4px; /* to align the list text, ymmv */
    font-weight:bold;
}
#side-nav ul {
    list-style-type: none;
    padding-left:0;
}
#side-nav li {
    padding:3px;
}

/**
additional panel mods
 **/
.panel-body {
    padding:15px;
}
.panel-progressbar {
    margin-left:15px;
    margin-right:15px;
}

.panel-info > .panel-heading {
    background-color:#caedf4;
}

.panel-primary .panel-heading, .panel-info .panel-heading {
    margin:0;
    font-size:1em;
    font-weight:bold;
}

.panel-heading .btn-secondary {
    float:right;
    padding:0;
}

/** blatant inline code widget **/
span.button-indicator {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color:#f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}


/** **
supports grid feature
**/

/******** Grid Global ********/

.ngPagerControl .ngPagerButton {
    /** pagination buttons are pushed down 10px... fix that here... **/
    margin-top: -10px;

    /** and a little space in between  **/
    margin-left: 2px;
    margin-right: 2px;
}

.nglabel {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}

.ngNoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** better position ngGrid cell contents **/
.ngCell div {
    margin-top: 5px;
    margin-left: 5px;
}

/******** Grid ********/

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    /* width: none !important; */
    height: 420px;
}

.ngGrid {
    background-color: rgb(253, 253, 253);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/******** Header ********/

.ngGroupPanel {
    background-color: rgb(234, 234, 234);
    overflow: hidden;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.ngGroupPanelDescription {
    margin-top: 5px;
    margin-left: 5px;
}

.ngGroupList {
    list-style-type: none;
}

/***
   modal / login / password
**/

.modal-body {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.modal-body * {
    display: block;
    margin: 10px 0 5px 0;
    width: 95%;
}

#password {
    display: inline;
    float: left;
    max-width: 69%;
    min-width: 63px;
}

/* angularOverlay */
.overlayContainer {
    display: none;
}

.overlayBackground {
    top:0px;
    left:0px;
    padding-left:100px;
    position:absolute;
    z-index:1000;
    height:100%;
    width:100%;
    background-color:#808080;
    opacity:0.3;
}

.overlayContent {
    position:absolute;
    border: 1px solid #000;
    background-color:#fff;
    font-weight: bold;
    height: 100px;
    width: 300px;
    z-index:1000;
    text-align:center;
}

.profile-nav {
    margin-bottom: -10px;
}

/*
* EPSCoR provided styles from chris  4/9/14
*/

/*
* Ignore buttons in this preference
*/
/*
a:link:not(.btn), a:visited:not(.btn){
    color: #336666;
    text-decoration: underline;
}

a:hover {
    color:#761a17;
    text-decoration: none;
}

body {
    font-size: 13px;
    line-height: 18px;
    font-family:lucida grande, helvetica, arial;
    background:#e6e6e6;
    width:auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family:helvetica, arial, sans-serif;
    font-weight:bold;
    color:#8e0c0d;
    line-height:125%;
}

p.burgundy{
    color:#8e0c0d;
}
p.teal{
    color:#336666;
}
p.grey{
    color:#ccc;
}
*/

/*
*  compat fix
*/

/*
.navbar a:link {
    text-decoration: none;
}

.navbar-inverse .navbar-brand:hover {
    color: #336666;
}

.navbar li a {
    text-decoration: none;
    color: #336666;
}
*/

.navbar {
    border-top: 10px solid #336666;
}

/*
.navbar-inverse .navbar-nav li a {
    text-decoration: none;
    color: #336666;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #336666;
}

*/
/*
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #336666;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #96C3EB;
}
*/

#side-nav .nav li a{
    padding: 5px 15px;
}

#side-nav div .navbar-collapse {
    display: inline-block;
}

/* 
 * Angular strap, directive creates new element structure hurting hover on our
 * dropdown links
 */

#side-nav .nav li > a:hover, #side-nav .nav li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

#side-nav .nav li {
    /* not sure what rule was causing our elements to be smaller */
    height: 30px;
}

#top-nav .dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

/*  Rules for mobile... */

@media (max-width: 767px) {

    #top-nav .navbar-inverse .navbar-nav .open .dropdown-menu li > a {
        /*color: #999999;*/
        color: #ffffff;
    }

    #top-nav .navbar-nav .open .dropdown-menu li > a {
        line-height: 20px;
    }

    #top-nav .navbar-nav .open .dropdown-menu li.well {
        background-color: #080808;
    }

    #top-nav .navbar-nav .open .dropdown-menu li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}

