<h1>User Profile</h1>

<ul>
  <li>Account Name: {{ object.user.username }} </li>
  <li>First Name: {{ object.user.first_name }}</li>
  <li>Last Name: {{ object.user.last_name }} </li>
  <li>Last Log In: {{ object.user.last_login|date }} </li>
  <li>PI Stuff: {{ object.investigators }} </li>
</ul>

<h3>PI Information</h3>
<ol>
{% for investigator in object.investigators.all %}
  <li> Name: {{investigator.name}} </li>
  <li> Institution: {{investigator.institution}} </li>
  <li> Email: {{investigator.email}} </li>
{% endfor %}
</ol>

<a href="{% url 'user_profile_edit' object.user.username %}">Edit My Profile</a>
